// all rules： http://eslint.org/docs/rules/
{
  "extends": "kaola/esnext",
  "rules": {
    "no-alert": 0,
    "arrow-body-style": 0,
    "no-use-before-define": ["error", { "functions": false }]
  }
}